/*
 * Copyright (c) 2021 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/rgb.h>

&mt {
    tapping-term-ms = <200>;
};

/* BEGIN PASTE FROM EDITOR */

#include <dt-bindings/zmk/keys.h>

/ {

    behaviors {
      hml: homerow_mods_left {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS_L";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick-tap-ms = <150>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };
      hmr: homerow_mods_right {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS_R";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick-tap-ms = <150>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC      &kp Q  &kp W        &kp E        &kp R         &kp T              &kp Y      &kp U         &kp I        &kp O        &kp P     &kp BSPC
&kp TAB      &kp A  &hml LALT S  &hml LGUI D  &hml LCTRL F  &kp G              &kp H      &hmr RCTRL J  &hmr RGUI K  &hmr RALT L  &kp SQT   &kp SEMI
&key_repeat  &kp Z  &kp X        &kp C        &kp V         &kp B      &trans  &kp N      &kp M         &kp COMMA    &kp DOT      &kp FSLH  &kp RET

                    &trans       &trans       &mo 1         &kp LSHFT          &kp SPACE  &mo 2         &trans       &trans
            >;

            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        lower_layer {
            bindings = <
&kp TILDE  &kp EXCL        &kp AT_SIGN      &kp POUND         &kp DOLLAR         &kp PERCENT          &kp CARET  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&kp GRAVE  &kp N1          &hml LALT N2     &hml LGUI N3      &hml LCTRL N4      &kp N5               &kp N6     &hmr RCTRL N7  &hmr RGUI N8  &hmr RALT N9          &kp N0                 &kp PIPE
&trans     &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp UNDER    &trans  &kp PLUS   &kp MINUS      &kp EQUAL     &kp LESS_THAN         &kp GREATER_THAN       &kp BACKSLASH

                           &trans           &trans            &trans             &trans               &trans     &trans         &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        raise_layer {
            bindings = <
&trans     &kp RA(N8)       &kp RA(N9)           &kp UP               &kp LS(N8)  &kp LS(N9)              &kp LS(FSLH)         &kp HOME         &kp UP      &kp END     &kp LS(RBKT)   &kp RA(RBKT)
&kp GRAVE  &kp LS(EQUAL)    &kp LEFT             &kp DOWN             &kp RIGHT   &kp EQUAL               &kp RA(MINUS)        &kp LEFT         &kp DOWN    &kp RIGHT   &kp LS(MINUS)  &kp RA(N4)
&trans     &kp NON_US_BSLH  &kp LS(NON_US_BSLH)  &kp RA(NON_US_BSLH)  &kp RA(N7)  &kp RA(N0)  &kp C_MUTE  &kp LS(NON_US_HASH)  &kp NON_US_HASH  &kp LS(N5)  &kp LS(N6)  &kp LS(N7)     &trans

                            &trans               &trans               &mo 3       &trans                  &trans               &trans           &trans      &trans
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PG_DN>;
        };
    };
};
